<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">  
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <title>Tiki : Frases</title>
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url "index" %}">
            <i class="far fa-comments fa-lg"></i>
            Tiki
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "diccionario" %}">Diccionario</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "frases" %}">Frases</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "pendientes" %}">Pendientes <span class="badge badge-danger">{{ contador }}</span></a>
                </li>
                {% endif %}
                {% if usuario is None %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "registro" %}">Registro</a>
                </li>
                {% endif %}
                {% if usuario is not None %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link disabled">Bienvenido {{usuario}}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Cerrar sesión</a>
                </li>
                {% else %} 
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href=# data-toggle="modal" data-target="#inicioSesion">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Contenido -->
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Diccionario</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2 text-center">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-a" data-toggle="list" href="#list-letter-a" role="tab" aria-controls="letraA">A</a>
                    <a class="list-group-item list-group-item-action" id="list-b" data-toggle="list" href="#list-letter-b" role="tab" aria-controls="letraB">B</a>
                    <a class="list-group-item list-group-item-action" id="list-c" data-toggle="list" href="#list-letter-c" role="tab" aria-controls="letraC">C</a>
                    <a class="list-group-item list-group-item-action" id="list-d" data-toggle="list" href="#list-letter-d" role="tab" aria-controls="letraD">D</a>
                    <a class="list-group-item list-group-item-action" id="list-e" data-toggle="list" href="#list-letter-e" role="tab" aria-controls="letraE">E</a>
                    <a class="list-group-item list-group-item-action" id="list-f" data-toggle="list" href="#list-letter-f" role="tab" aria-controls="letraF">F</a>
                    <a class="list-group-item list-group-item-action" id="list-g" data-toggle="list" href="#list-letter-g" role="tab" aria-controls="letraG">G</a>
                    <a class="list-group-item list-group-item-action" id="list-h" data-toggle="list" href="#list-letter-h" role="tab" aria-controls="letraH">H</a>
                    <a class="list-group-item list-group-item-action" id="list-i" data-toggle="list" href="#list-letter-i" role="tab" aria-controls="letraI">I</a>
                    <a class="list-group-item list-group-item-action" id="list-j" data-toggle="list" href="#list-letter-j" role="tab" aria-controls="letraJ">J</a>
                    <a class="list-group-item list-group-item-action" id="list-k" data-toggle="list" href="#list-letter-k" role="tab" aria-controls="letraK">K</a>
                    <a class="list-group-item list-group-item-action" id="list-l" data-toggle="list" href="#list-letter-l" role="tab" aria-controls="letraL">L</a>
                    <a class="list-group-item list-group-item-action" id="list-m" data-toggle="list" href="#list-letter-m" role="tab" aria-controls="letraM">M</a>
                    <a class="list-group-item list-group-item-action" id="list-n" data-toggle="list" href="#list-letter-n" role="tab" aria-controls="letraN">N</a>
                    <a class="list-group-item list-group-item-action" id="list-nn" data-toggle="list" href="#list-letter-nn" role="tab" aria-controls="letraNN">Ñ</a>
                    <a class="list-group-item list-group-item-action" id="list-o" data-toggle="list" href="#list-letter-o" role="tab" aria-controls="letraO">O</a>
                    <a class="list-group-item list-group-item-action" id="list-p" data-toggle="list" href="#list-letter-p" role="tab" aria-controls="letraP">P</a>
                    <a class="list-group-item list-group-item-action" id="list-q" data-toggle="list" href="#list-letter-q" role="tab" aria-controls="letraQ">Q</a>
                    <a class="list-group-item list-group-item-action" id="list-r" data-toggle="list" href="#list-letter-r" role="tab" aria-controls="letraR">R</a>
                    <a class="list-group-item list-group-item-action" id="list-s" data-toggle="list" href="#list-letter-s" role="tab" aria-controls="letraS">S</a>
                    <a class="list-group-item list-group-item-action" id="list-t" data-toggle="list" href="#list-letter-t" role="tab" aria-controls="letraT">T</a>
                    <a class="list-group-item list-group-item-action" id="list-u" data-toggle="list" href="#list-letter-u" role="tab" aria-controls="letraU">U</a>
                    <a class="list-group-item list-group-item-action" id="list-v" data-toggle="list" href="#list-letter-v" role="tab" aria-controls="letraY">V</a>
                    <a class="list-group-item list-group-item-action" id="list-w" data-toggle="list" href="#list-letter-w" role="tab" aria-controls="letraW">W</a>
                    <a class="list-group-item list-group-item-action" id="list-x" data-toggle="list" href="#list-letter-x" role="tab" aria-controls="letraX">X</a>
                    <a class="list-group-item list-group-item-action" id="list-y" data-toggle="list" href="#list-letter-y" role="tab" aria-controls="letraY">Y</a>
                    <a class="list-group-item list-group-item-action" id="list-z" data-toggle="list" href="#list-letter-z" role="tab" aria-controls="letraZ">Z</a>
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-letter-a" role="tabpanel" aria-labelledby="list-a">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Aa' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-b" role="tabpanel" aria-labelledby="list-b">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Bb' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-c" role="tabpanel" aria-labelledby="list-c">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Cc' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-d" role="tabpanel" aria-labelledby="list-d">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Dd' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-e" role="tabpanel" aria-labelledby="list-e">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Ee' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-f" role="tabpanel" aria-labelledby="list-f">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Ff' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-g" role="tabpanel" aria-labelledby="list-g">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Gg' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-h" role="tabpanel" aria-labelledby="list-h">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Hh' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-i" role="tabpanel" aria-labelledby="list-i">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Ii' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-j" role="tabpanel" aria-labelledby="list-j">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Jj' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-k" role="tabpanel" aria-labelledby="list-k">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Kk' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-l" role="tabpanel" aria-labelledby="list-l">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Ll' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-m" role="tabpanel" aria-labelledby="list-m">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Mm' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-n" role="tabpanel" aria-labelledby="list-n">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Nn' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-nn" role="tabpanel" aria-labelledby="list-nn">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Ññ' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-o" role="tabpanel" aria-labelledby="list-o">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Oo' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-p" role="tabpanel" aria-labelledby="list-p">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Pp' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-q" role="tabpanel" aria-labelledby="list-q">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Qq' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-r" role="tabpanel" aria-labelledby="list-r">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Rr' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-s" role="tabpanel" aria-labelledby="list-s">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Ss' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-t" role="tabpanel" aria-labelledby="list-t">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Tt' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-u" role="tabpanel" aria-labelledby="list-u">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Uu' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-v" role="tabpanel" aria-labelledby="list-v">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Vv' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-w" role="tabpanel" aria-labelledby="list-w">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Ww' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-x" role="tabpanel" aria-labelledby="list-x">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Xx' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-y" role="tabpanel" aria-labelledby="list-y">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Yy' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="list-letter-z" role="tabpanel" aria-labelledby="list-z">
                    {% for frase in frases %}
                        {% if frase.titulo|first in 'Zz' %}
                            <h3>{{ frase.titulo }}</h3><p>{{ frase.descripcion }}</p>
                            {% if request.user.is_superuser %}
                                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <hr id="divisor">

        <footer class="row">
            <div class="col-md-11">
                © 2017-2018 Tiki, Inc. · <a href="#">Privacidad</a> · <a href="#">Terminos</a>
            </div>
            <div class="col-md-1">
                <a href="#">Subir</a>
            </div>
        </footer>
        <br><br><br><br>
    </section>
    
    {% if usuario is None %}
    <!-- Modal Login -->
    <div class="modal fade" id="inicioSesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="form-signin" action="{% url "loginIniciar" %}">
                        {% csrf_token %}
                        <label for="inputEmail"  class="sr-only">Correo</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correo" required autofocus><br>
                        <label for="inputPassword" class="sr-only">Contraseña</label>
                        <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required><br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if request.user.is_superuser %}
    <!-- Modal Modificar Frase -->
    <div class="modal fade" id="editarFrase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Frase</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario -->
                    <form action="Frases/Editar/" method="post" id="editarFrase">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" id="editIdF" name="editIdF" placeholder="editIdF" required="required">
                        <div class="form-group">
                            <label for="editTituloF">Título</label> 
                            <input type="text" class="form-control" id="editTituloF" name="editTituloF" placeholder="Título" required="required">
                        </div>
                        <div class="form-group">
                            <label for="editDescripcionF">Descripción</label> 
                            <input type="text" class="form-control" id="editDescripcionF" name="editDescripcionF" placeholder="Definición" required="required">
                        </div>
                        <div class="form-group">
                            <label for="editEstadoF">Estado</label> 
                            <select class="form-control" id="editEstadoF" name="editEstadoF" required="required">
                                <option value="Pendiente">Pendiente</option>
                                <option value="Público">Público</option>
                            </select>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if usuario is not None %}
    <!-- Botón flotante -->
    <a href="#" class="float" data-toggle="modal" data-target="#nuevaFrase">
        <i class="fa fa-plus my-float"></i>
    </a>
    <div class="modal fade" id="nuevaFrase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Frase</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario -->
                    <form action="{% url 'nuevaFrase' %}" method="post" id="nuevaFrase">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="titulo">Título</label> 
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título" required="required">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label> 
                            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción" required="required">
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Scripts -->
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>