
<!doctype html>
<html lang="es-CL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Inicio de sesión</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form method="POST" class="form-signin" action="{% url "loginIniciar" %}">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
      <label for="inputEmail"  class="sr-only">Correo</label>
      <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Correo" required autofocus>
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

    